#footer {
  color: $blue;
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-color: $bg-color;

  div {
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    text-align: center;
  }
}
