#footer {
  color: $blue;
  position: absolute;
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
}

.footer-txt {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  p {
    margin: 0;
    font-size: 0.8rem;
  }


  svg {
    filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
    transition: 0.4s ease-in-out;
    &:hover {
      animation: shake 0.5s linear;
    }
  }
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}
