#footer {
  color: $blue;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
    font-size: 0.8rem;
    align-self: center;
    padding-left: 1rem;
  }


  svg {
    filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
    padding-right: 1rem;
    transition: 0.4s ease-in-out;
    &:hover {
      animation: shake 0.5s linear;
    }
  }
}






@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}

@media (min-width:320px)  {

 }
