#navigation {
  z-index: 20;
  width: 100%;
  background-color: $blue;
  margin: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  a {
    text-decoration: none;
    padding: 0px 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }

  a:hover {
    animation: blink 0.8s linear 1;
  }
}

.wrapper-navlinks {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@keyframes blink {
  5% {
    color: white;
  }

  25% {
    color: $blue;
  }

  75% {
    color: $blue;
  }

  90% {
    color: white;
  }

}

@media only screen and (min-width: 550px) {
  #navigation {
    height: 2rem;
  }
  .hide-nav {
    transform: translateY(-1.5rem);
  }
}

@media only screen and (max-width: 550px) {
  #navigation {
    height: 4rem;
  }

  .hide-nav {
    transform: translate(-90%, -2.5rem);
  }

  .wrapper-navlinks {
    justify-content: space-around;
  }
}
