#navigation {
 width: 100%;
  background-color: $blue;
  margin: 0;
  a {
    text-decoration: none;
    padding: 0px 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }

  a:hover {
    animation: blink 0.5s linear 1;
  }
}

@keyframes blink {
  5% {
    color: white;
  }

  25% {
    color: $blue;
  }

  75% {
    color: $blue;
  }

  90% {
    color: white;
  }

}

@media only screen and (max-width: 550px) {
  .wrapper-navlinks {
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
