body {
  margin: 0;
}

#landing-page {
  background-color: #f7f7f7;
	background-image:
    	linear-gradient($primary-color 1px, transparent 1px),
    	linear-gradient(95deg, $primary-color 1px, transparent 1px);
  background-size: 100px 15px, 15px 100px, 20px 20px, 20px 20px;
  width: 100vw;
  height: 100vh;
}

#homecanvas {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.greetings {
  width: 50vw;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 0px 50px;
  h1 {
    margin: 0;
    padding: 5rem;
  }
}
