<nav id="navigation">
  <div class="wrapper-navlinks">
    <a href="/" class="navlinks">Home</a>
    <a href="/works" class="navlinks">Works</a>
    <a href="/about" class="navlinks">About</a>
    <a href="/contact" class="navlinks">Contact</a>
  </div>
  <script src="js/nav.js"></script>
</nav>
