<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>About</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque est debitis quaerat explicabo ipsam hic, commodi suscipit possimus error dolor in neque minima ut maiores expedita recusandae quia unde. Exercitationem.
  <%- include('./partials/footer.ejs') %>
</body>
</html>
