<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="about-page">
      <div class="about-page-text">
        <div class="bio">
          I have created this website after finishing the LeWagon bootcamp. I have learned what a OOP language is with Ruby and then the MVC patern with Rails. Learning this technology was very interesting and made me start to understand how the web works, or at least how much I still don't know. <br>
          The website was created with the intention to keep learning while implementing some new features, I have for now only used vanilla JavaScript for the front end.
        </div>

        <div class="config">
          Website built with:
          <ul>
            <li>Express</li>
            <li>Sass</li>
            <li>No other library yet</li>
          </ul>
        </div>
      </div>
      <img id="logo3d" src="svg/logo_3d.svg" alt="logo 3d">
    </div>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
