<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

    <canvas id="homecanvas"></canvas>

  <div id="landing-page">
    <div class="greetings">
      <h1>Hello world,</h1>
      <p id="presentation">
        I am Julien, junior web developer based in berlin.
      </p>

    </div>
    <div class="logo-badge">
      <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 208 236" style="enable-background:new 0 0 208 236;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;stroke:#000000;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        </style>
        <path class="st0" d="M79.67,81.77c0,0-4.54-42.31-12.57-42.31c-8.02,0-6.71,19.09-6.71,19.09s1.84,85.39,16.69,85.39
          s14.86-44.57,14.86-44.57s0,59.43,14.86,59.43s14.86-59.43,14.86-59.43s0,89.15,14.86,89.15c14.86,0,14.86-104.01,14.86-104.01
          H79.67h-32.3c0,0-1.25,11.88-6.37,14.77"></path>
      </svg>
    </div>

    <img class="globe" src="svg/globe.svg" alt="3d globe">

    <div id="soundcloud">
      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1486424632&color=%230000ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
    </div>

  </div>
  <%- include('./partials/footer.ejs') %>
  <script src="js/landing.js"></script>
</body>
</html>
