<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div id="misc">
    <div class="longest-word">
      <h1>The longest word.</h1>
      <p class="longest-word-rules">Find the longest english word in the grid and submit. <br> Click on new game  when you are ready! <br> <em> it will take some time the first time as the site is on sleep when not used. </em></p>

      <form class="longest-word-form" id="longestform">
        <input type="text" minlength="3" name="player" placeholder="Your name or pseudo" class='longest-word-form-player' id="longestplayer">
         <input type="text" maxlength="10" name="input" placeholder="What's your catch ?" class='longest-word-form-input' id="longestinput">
         <input type="submit" value="Submit !" class='longest-word-form-submit' id="longestsubmit">
      </form>

      <div class="grid-letters" id="grid"></div>
      <div class="longest-word-result" id="longestresult"></div>
      <div class="scores-container">
        <div class="longest-word-top" id="longesttop">Top scores:</div>
        <div class="longest-word-latest" id="longestlatest">Latest:</div>
      </div>
     <button id="startlongest">New <br> game</button>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="js/misc.js"></script>
</body>
</html>
