<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div id="misc">

  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="js/misc.js"></script>
</body>
</html>
