<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div id="works">

    <div class="projects">
      <div class="projects-list">
        <div class="project">
          Careview
        </div>
        <div class="project">
          Treehouse
        </div>

      </div>
      <div class="projects-preview">

      </div>
    </div>



    <div class="github">
      <h2>My projects on gitHub:</h2>
      <div id="github-repos"></div>
    </div>

  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="js/works.js"></script>
</body>
</html>
