<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div id="works">

    <div class="projects">
      <div class="projects-list">
        <button class="project-list-item">
          Careview
        </button>
        <button class="project-list-item">
          Treehouse
        </button>
        <button class="project-list-item">
          All my projects on gitHub
        </button>
      </div>


      <div class="projects-preview">
        <div class="projects-preview-item">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675545/production/landing_skobxr.png" alt="screenshot careview's website landing-page">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675544/production/filters_t8mdyl.png" alt="screenshot careview's website search function">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675544/production/show1_rnzycq.png" alt="screenshot careview's website carehome page">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675542/production/show2_o2ukai.png" alt="screenshot careview's website carehome page">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675541/production/show3_ksiuf0.png" alt="screenshot careview's website carehome reviews">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675543/production/dashboard_eyj3tk.png" alt="screenshot careview's website dashboard">
        </div>

        <div class="projects-preview-item">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675535/production/index_zeqwod.png" alt="screenshot website Treehouse search function">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675534/production/show_qebiue.png" alt="screenshot website Treehouse, treehouse page">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675531/production/reviews_e8yqp2.png" alt="screenshot website Treehouse reviews">
          <img src="https://res.cloudinary.com/julwicr/image/upload/v1656675534/production/dashboard_virfsj.png" alt="screenshot website Treehouse dashboard">
        </div>


        <div class="projects-preview-item" id="github-repos"></div>
      </div>
    </div>

  </div>

  <!-- <# include('./partials/footer.ejs') %> -->
  <script src="js/works.js"></script>
</body>
</html>
