@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
body {
  color: rgba(0, 0, 255, 0.8);
  margin: 0;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  background-color: #f7f7f7;
  position: relative;
  min-height: 100vh; }

#landing-page {
  min-height: 100vh; }

#homecanvas {
  position: absolute;
  background-color: #f7f7f7;
  z-index: -1; }

.greetings {
  width: 300px;
  background-color: rgba(247, 247, 247, 0.4);
  border-radius: 5px;
  position: absolute;
  top: 65px;
  left: 50px; }
  .greetings h1 {
    margin: 0;
    padding: 1rem; }

.globe {
  position: absolute;
  width: 20rem;
  left: 15%;
  bottom: 15%;
  filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
  border-radius: 50%; }

@media only screen and (max-width: 550px) {
  .greetings {
    width: 200px; }
  .globe {
    left: 5%;
    bottom: 10%; } }

#about-page {
  height: 100vh;
  background-image: linear-gradient(96deg, rgba(0, 0, 255, 0.8) 1px, transparent 1px), linear-gradient(93deg, blue 1px, transparent 1px);
  background-size: 20px 25px, 30px 35px; }

.about-page-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center; }

.bio {
  color: rgba(0, 0, 255, 0.8);
  max-width: 500px;
  background-color: #f7f7f7;
  padding: 2rem;
  margin: 2rem; }

.config {
  color: rgba(0, 0, 255, 0.8);
  border: 2px solid rgba(0, 0, 255, 0.8);
  width: 170px;
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 5rem;
  left: 50px; }

#logo3d {
  filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
  width: 20rem;
  position: absolute;
  right: 3rem;
  bottom: 1%;
  opacity: 0.5;
  display: none; }

@media only screen and (max-width: 550px) {
  #about-page {
    height: max-content; } }

#contact {
  height: 100vh;
  width: 100vw;
  background-color: #f7f7f7; }

#contactcanvas {
  position: absolute; }

.form {
  position: relative;
  top: 50px;
  left: 25px;
  width: 300px;
  border-radius: 0.5rem;
  opacity: 0.9;
  padding: 5px;
  transition: 0.5s ease-in-out; }
  .form label {
    display: none; }
  .form input {
    width: 45%; }
  .form-button {
    color: rgba(0, 0, 255, 0.8);
    background-color: #f7f7f7;
    font-weight: bolder;
    border: 1px ridge rgba(0, 0, 255, 0.8);
    padding: 0.3rem;
    transition: 0.2s ease-in-out;
    width: 44%; }
    .form-button:hover {
      color: #f7f7f7;
      background-color: rgba(0, 0, 255, 0.8); }
    .form-button:active {
      transform: translateY(-2); }
  .form-status {
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.8);
    color: #f7f7f7;
    display: inline-block;
    position: absolute;
    max-width: 10rem;
    position: absolute;
    top: 50px;
    right: 25px; }

.form-input {
  width: 93%;
  resize: none;
  outline: 1px ridge rgba(0, 0, 255, 0.4);
  color: rgba(0, 0, 255, 0.8);
  border: none;
  border: none;
  padding: 0.5rem;
  margin: 0.1rem; }
  .form-input:focus {
    border: none; }

@media only screen and (max-width: 550px) {
  .form {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .form-button {
      width: 35%; }
    .form input {
      width: 57%; }
  .form-status {
    top: 280px;
    left: 30px; } }

.projects {
  width: 100vw;
  height: 100vh;
  display: flex; }
  .projects-list {
    width: 220px;
    border-right: 2px dotted rgba(0, 0, 255, 0.8);
    font-size: 2rem;
    padding-top: 25px;
    box-shadow: -2px 0px 10px rgba(0, 0, 255, 0.8); }
    .projects-list button {
      color: rgba(0, 0, 255, 0.8);
      font-size: 1.3rem;
      border: none;
      background: none;
      text-align: left;
      padding: 20px;
      line-height: 2rem;
      transition: all 0.4s ease-in-out; }
    .projects-list button:hover {
      text-decoration: underline rgba(26, 26, 255, 0.8); }
  .projects-preview {
    overflow: scroll;
    width: 100%; }

.projects-preview-item {
  min-height: 90vh;
  transition: all 1.5s ease-in-out;
  margin: 50px 0px; }
  .projects-preview-item img {
    max-width: 55vw;
    margin: 100px auto;
    display: block;
    transition: opacity 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }

.project-info {
  width: 50%;
  padding: 50px; }
  .project-info a:visited {
    color: rgba(0, 0, 255, 0.8); }

.hide-project {
  opacity: 0; }

.highlight-project {
  text-decoration: underline; }

@keyframes f {
  from {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 100%); }
  10% {
    clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 50%); } }

#github-repos {
  margin: 150px 0px 0px 50px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 50px;
  background-color: #f7f7f7;
  color: rgba(0, 0, 255, 0.8);
  width: 230px;
  font-size: 0.8rem; }
  #github-repos a {
    position: relative;
    border-bottom: 1px dotted black;
    color: rgba(0, 0, 255, 0.8);
    text-decoration: none; }
  #github-repos a:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: rgba(0, 0, 255, 0.8);
    color: #f7f7f7;
    text-align: center;
    padding: 5px 2px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 105%; }
  #github-repos a:hover:before {
    opacity: 1;
    visibility: visible; }
  #github-repos h2 {
    font-size: 1rem; }

#startlongest {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 255, 0.8);
  color: #f7f7f7;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in; }
  #startlongest:hover {
    transform: translateY(-2px);
    color: rgba(0, 0, 255, 0.8);
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 255, 0.8) 0px 0px 6px; }
  #startlongest:active {
    box-shadow: rgba(0, 0, 255, 0.5) 0 3px 7px inset; }

.grid-letters {
  margin: 0 auto;
  opacity: 0;
  max-width: 650px;
  height: 200px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 1s ease-in-out;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }

.letter {
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
  margin: 0px 35px;
  font-size: 25px;
  padding: 15px;
  width: 15px;
  height: 30px;
  color: rgba(0, 0, 255, 0.8);
  border: 2px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }

.typed {
  color: #f7f7f7;
  background-color: rgba(0, 0, 255, 0.8);
  border: 2px solid rgba(0, 0, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }

.longest-word-info {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .longest-word-info p {
    width: 50%; }

.longest-word-form {
  width: max-content;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .longest-word-form-submit {
    padding: 10px 20px;
    background-color: rgba(0, 0, 255, 0.8);
    color: #f7f7f7;
    border: none;
    transition: 0.2s ease-in-out; }
  .longest-word-form-submit:hover {
    background-color: #f7f7f7;
    color: rgba(0, 0, 255, 0.8); }
  .longest-word-form-input {
    color: rgba(0, 0, 255, 0.8);
    background-color: #f7f7f7;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    width: 150px; }
  .longest-word-form-input:focus {
    border: none;
    outline: 2px solid rgba(0, 0, 255, 0.8); }
  .longest-word-form-player {
    color: rgba(0, 0, 255, 0.8);
    background-color: #f7f7f7;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    width: 150px; }
  .longest-word-form-player:focus {
    border: none;
    outline: 2px solid rgba(0, 0, 255, 0.8); }

.longest-word-result {
  color: rgba(0, 0, 255, 0.8);
  font-weight: 400;
  background-color: #f7f7f7;
  padding: 20px;
  width: 450px;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .longest-word-result div {
    padding: 15px; }

.scores-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 30px; }
  .scores-container div {
    padding: 5px; }

.logo-badge {
  background-color: rgba(0, 0, 255, 0.8);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 4rem;
  right: 4rem;
  animation: pulse 2s infinite; }
  .logo-badge:hover {
    animation: pulse 1.2s infinite; }

#logo {
  stroke-dasharray: 750;
  animation: textDraw 5s ease-out 0.5s;
  width: 8rem;
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(255deg) brightness(103%) contrast(106%); }

@keyframes textDraw {
  0% {
    stroke-dashoffset: 800; } }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 225, 0.7); }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.6); } }

@media only screen and (max-width: 550px) {
  .logo-badge {
    top: 20%;
    right: 10%; } }

#navigation {
  z-index: 20;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.8);
  margin: 0;
  position: absolute;
  transition: all 0.3s ease-in-out; }
  #navigation a {
    text-decoration: none;
    padding: 0px 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white; }
  #navigation a:hover {
    animation: blink 0.8s linear 1; }

.wrapper-navlinks {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

@keyframes blink {
  5% {
    color: white; }
  25% {
    color: rgba(0, 0, 255, 0.8); }
  75% {
    color: rgba(0, 0, 255, 0.8); }
  90% {
    color: white; } }

@media only screen and (min-width: 550px) {
  #navigation {
    height: 2rem; }
  .hide-nav {
    transform: translateY(-1.5rem); } }

@media only screen and (max-width: 550px) {
  #navigation {
    height: 4rem; }
  .hide-nav {
    transform: translate(-90%, -2.5rem); }
  .wrapper-navlinks {
    justify-content: space-around; } }

#footer {
  color: rgba(0, 0, 255, 0.8);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between; }
  #footer p {
    margin: 0;
    font-size: 0.8rem;
    align-self: center;
    padding-left: 1rem; }
  #footer svg {
    width: 25px;
    filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
    padding-right: 1rem;
    transition: 0.4s ease-in-out; }
    #footer svg:hover {
      animation: shake 0.5s linear; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    transform: translate3d(2px, 0, 0); } }

@media (min-width: 320px) {
  #footer {
    position: fixed; } }
