#about-page {
  height: 100vh;
  background-image: linear-gradient(96deg, $blue 1px, transparent 1px), linear-gradient(93deg, rgb(0, 0, 255) 1px, transparent 1px);
  background-size: 20px 25px, 30px 35px;
}

.about-page-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.bio {
  color: $blue;
  max-width: 500px;
  background-color: $bg-color;
  padding: 2rem;
  margin: 2rem;
}

.config {
  color: $blue;
  border: 2px solid $blue;
  width: 170px;
  background-color: $bg-color;
  padding: 1rem;
  margin: 5rem;
  left: 50px;
}

#logo3d {
  filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
  width: 20rem;
  position: absolute;
  right: 3rem;
  bottom: 1%;
  opacity: 0.5;
  display: none;
}

@media only screen and (max-width: 550px) {
  #about-page {
    height: max-content;
  }
}
