#about-page {
  height: 100vh;
}

.bio {
  color: white;
  width: 500px;
  background-color: $blue;
  padding: 2rem;
  margin: 2rem;
}

.config {
  color: white;
  width: 150px;
  background-color: $blue;
  padding: 2rem;
  margin: 2rem;
}
