#contact {
  height: 100vh;
  width: 100vw;
  background-color: $bg-color;
  background-image:
    	linear-gradient($blue 1px, transparent 1px),
    	linear-gradient(95deg, $blue 1px, transparent 1px);
  background-size: 100px 15px, 15px 100px, 20px 20px, 20px 20px;
}

.contact-form {
  position: relative;
  top: 20%;
  left: 35%;
  width: 200px;
  h2 {
    text-align: center;
    background-color: $blue;
    border-radius: 1rem;
    color: $bg-color;
    margin: 0;
    font-size: medium;
    font-weight: 500;
    padding: 1rem 0rem;
    transition: 0.5s ease-in-out;
  }
}

.container-form {
  overflow: hidden;
  height: 300px;
}

.form {
  transform:translateY(-200px);
  transition: 2s ease-in-out;
  height: 100px;
  label {
    padding: 0rem 0.5rem;
  }
  &-button {
    width: 100%;
    color: $bg-color;
    background-color: $blue;
    font-weight: bolder;
    border: 1px solid $blue;
    padding: 0.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    transition: 0.5s ease-in-out;

    &:hover {
      transform: translateY(5px);
    }
  }

  &-status {
    padding: 1rem;
    text-align: center;
    background-color: $blue;
    color: $bg-color;
    display: inline-block;
    position: absolute;
  }
}

.form-input {
  resize: none;
  outline: 1px ridge rgba(0, 0, 255, 0.4);
  width: 98%;
  border: none;
  &:focus {
    border: none;
  }
}


@keyframes colorrgb {
	0% {
		background-color: $blue;
	}

	35% {
		background-color: $red;
	}

	65% {
		background-color: $green;
	}
}
