#landing-page {
  min-height: 100vh;
}

#homecanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  z-index: -1;
}

.greetings {
  width: 300px;
  background-color: rgba(247, 247, 247, 0.4);
  border-radius: 5px;
  margin: 35px 50px;

  h1 {
    margin: 0;
    padding: 1rem;
  }
}

.globe {
  position: absolute;
  width: 20rem;
  left: 15%;
  bottom: 15%;
  filter: invert(8%) sepia(100%) saturate(5748%) hue-rotate(244deg) brightness(114%) contrast(140%);
  border-radius: 50%;
}

@media only screen and (max-width: 550px) {
  .greetings {
    width: 200px;
  }

  .globe {
    left: 5%;
    bottom: 10%;
  }
}
