#misc {
  width: 100vw;
  h1 {
    padding: 30px;
    text-align: center;
    color: $blue;
  }
}

#startlongest {
  width: 80px;
  height: 80px;
  background-color: $blue;
  color: $bg-color;
  position: absolute;
  top: 370px;
  left: 150px;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
    color: $blue;
    background-color: $bg-color;
    box-shadow: $blue 0px 0px 6px;
  }
  &:active {
    box-shadow: rgba(0, 0, 255, 0.5) 0 3px 7px inset;
  }
}

.grid-letters {
  margin: 0 auto;
  opacity: 0;
  max-width: 650px;
  height: 200px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 1s ease-in-out;
  background-color: $bg-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.letter {
 font-weight: bolder;
 margin: 0px 35px;
 font-size: 25px;
 padding: 15px;
 width: 15px;
 height: 30px;
 color: $blue;
 border: 2px solid white;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.longest-word-form {
 width:max-content;
 margin: 50px auto;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 &-submit {
  padding: 10px 20px;
  background-color: $blue;
  color: $bg-color;
  border: none;
  transition: 0.2s ease-in-out;
 }

 &-submit:hover {
 background-color: $bg-color;
 color: $blue;
 }

 &-input {
  color: $blue;
  background-color: $bg-color;
  padding: 10px 15px;
  border: none;
  font-size: 15px;
  width: 150px;
 }

 &-input:focus {
 border: none;
 outline: 2px solid $blue;
 }

 &-player {
  color: $blue;
  background-color: $bg-color;
  padding: 10px 15px;
  border: none;
  font-size: 15px;
  width: 150px;
 }

 &-player:focus {
 border: none;
 outline: 2px solid $blue;
 }
}

.longest-word {
  &-rules {
    padding: 1rem;
    width: 250px;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 0.9rem;
  }
}

.longest-word-result {
  color: $blue;
  font-weight: 400;
  background-color: $bg-color;
  padding: 20px;
  width: 450px;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  div {
    padding: 15px;
  }
}

.scores-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 30px;

  div {
    padding: 5px;
  }
}
