.projects {
  width: 100vw;
  height: 100vh;
  display: flex;

  &-list {
    width: 220px;
    border-right: 2px dotted $blue;
    font-size: 2rem;
    padding-top: 25px;
    box-shadow: -2px 0px 10px $blue;

    button {
      color: $blue;
      font-size: 1.3rem;
      border: none;
      background: none;
      text-align: left;
      padding: 20px;
      line-height: 2rem;
      transition: all 0.4s ease-in-out;
    }

    button:hover {
      text-decoration: underline lighten($blue, 5%);
    }
  }

  &-preview {
    overflow: scroll;
  }
}

.projects-preview-item {
  min-height: 90vh;
  transition: all 1.5s ease-in-out;
  margin: 50px 0px;

  img {
    width: 70%;
    margin: 100px auto;
    display: block;
    transition: opacity 800ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

}

.project-info {
  width: 50%;
  padding: 50px;

  a:visited {
    color: $blue;
  }
}

.hide-project {
  opacity: 0;
}

.highlight-project {
  font-weight: bold;
}

@keyframes f {
  from {
    clip-path:polygon(
    100% 0,100% 0,100% 0,100% 0,
    0 100%,0 100%,0 100%,0 100%);
  }
  10% {
    clip-path:polygon(
    0 50%,0 0,100% 0,100% 50%,
    0 50%,0 100%,100% 100%,100% 50%);
  }
}

#github-repos {
  margin: 150px 0px 0px 50px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 50px;
  background-color: $bg-color;
  color: $blue;
  width: 230px;
  font-size: 0.8rem;

  a {
    position: relative;
    border-bottom: 1px dotted black;
    color: $blue;
    text-decoration: none;
  }

  a:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: $blue;
    color: $bg-color;
    text-align: center;
    padding: 5px 2px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 105%;
  }

  a:hover:before {
    opacity: 1;
    visibility: visible;
  }

  h2 {
    font-size: 1rem;
  }
}
